<%= form_with(model: helprequest, local: true) do |form| %>
  <% if helprequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(helprequest.errors.count, "error") %> prohibited this helprequest from being saved:</h2>

      <ul>
      <% helprequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_area :subject, id: :helprequest_subject %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :helprequest_content %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Request", class: "btn btn-primary" %>
  </div>
  <br><br><br>
<% end %>
